#centered{
  text-align: center;
}

#top_font{
  font-size: 2em;
  padding-left: 1em;
}

#top_button{
  padding-right: 1em;
  float: right;
  font-size: 2em;
}

#top_button a{
  color: white;
  text-shadow: 1px 1px 1px #000000;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#top_button a:hover{
  text-shadow: 2px 2px 2px #000000;
  font-size: 1.1em;
}



#date{
  padding-right: 0.5em;
  float: right;


}

#status_message{

  padding-left: 1em;
  display: inline-block;
}

#date, #status_message{
  vertical-align:0.7em;
  color: rgb(123, 125, 122);
}

.item{
  border-style:solid;
  border-width: thin;
  border-color: rgb(232, 232, 232);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;

}

#item-list{
  margin-right: 1em;
  width: 70%;
  float: right;
}

#content{
  float: left;
  min-width: 400px;
  padding-right: 20px;
}

@media (min-width: 968px) and (max-width: 1520px) {
  #content{
    margin-right: 16px;
    width: 700px;
    float: right;
  }
}

@media (max-width: 968px) {
  #item-list{
    padding: 1em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

#content-menu-hidden{
  width: 80%;
  margin-right: 10%;
  float: right;
}

.material-card{
  margin-top: 1em;
  box-shadow: 1px 1px 1px #000000;
  padding: 1em;
  background-color: white;
}


.page, html{
  background-color: rgb(236, 232, 231);
  margin-bottom: 0px;
  height: 100%;
}

.itemName{
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  padding-left: 1em;
}

.top_bar{
  background-color: rgb(227, 58, 35);
  color: white;
  margin-top: 0em !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 1px 2px 1px 1px rgb(195, 194, 187);
}

.triangle1 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-bottom: 50px solid grey;
}

.item_form{
  background-color: white;
  text-align: center;
  padding: 1em;
}

.input-element{
  margin-bottom: 1em;
}

#input-form{
  width: 15em;
  margin-right: 1em;
  float: right;
  margin-top: 0em;
}

#placehold{
  width: 15em;
  height: 1px;
  float: right;
  margin-right: 1em;
}

.reason{
  padding-left: 2em;
}
